@import "tailwindcss";
@import "tw-animate-css";

:root {
  --primary-color: #1e1d1d;
  --secondary-color: #f4e8d8;
  --tertiary-color: #282828;
}

body {
  font-family: sans-serif;
  background: var(--primary-color);
}
